.App {
  text-align: center;
   background-color: gainsboro;
}

.header_title {
  font-size: 1.5cm;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 3px;
  margin-top: 10px;
}

.App-header {
  display: flex;
  padding: 10px 10px 0px 10px;
  text-align: center;
  justify-content: space-between;
  background-color: #EC5800;
  color: rgb(19, 18, 18);
}

.navbar {
  background-color: #EC5800;
  border-top: solid;
  padding-bottom: 10px;
  border-bottom: solid;
}

.login-link {
  background-color: #EC5800;
  color: black;
}

.header_topic_navlink {
  align-items: center;
  padding: 10px;
  color: black;
}

.homepage_article_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: gainsboro;
  padding-top: 50px;
}

.articlelist_articlecard {
  margin: 10px;
  border-style: solid; 
  border-radius: 10%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.header_title {
  text-align: center;
}

.topic_article_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 0;
  padding-top: 50px;
}

.header_button_label {
  margin-bottom: 0;
  margin-top: 20px;
}

.header_topic_navlink {
  background-color: var(--indigo-dye);
  width: 100%;
  margin: 0px;
  padding: 20px;
  border: none;
  border-radius: 0px;
  color: black;
  font-size: x-large;
}

.header_topic_navlink:hover {
  background-color: var(--button-hover);
}

.error_message {
  text-transform: uppercase;
  color:darkred;
  line-height: 3cm;
}

.single_article_link  {
  color: black;
}

.comment_view_button {
  margin-top: 0;
  padding-top: 0;
}

.single_article_display h3 {
  padding-left: 50px;
  margin-top: 50px;
  margin-bottom: 0;
  text-align: left;
}

.single_article_display h4 {
  padding-left: 50px;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left;
  color: darkblue;
}

.single_article_display h5 {
  padding-left: 50px;
  margin-top: 0;
  text-align: left;
  color: black;
}

.single_article_body {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}

.article_comments_container {
  border-style: double;
  margin: 5px 10% 5px 10%
}

.comment_individual_article {
  padding: 20px 20px 20px 20px;
  border-style: dotted;
}

.comment_individual_article h4 {
  display: inline;
  padding-right: 10px;
  color: #EC5800;
}

.comment_individual_article h5 {
  display: inline;
}

.comment_individual_article div {
  padding-bottom: 5px;
}

.username_login {
  margin-bottom: 0;
  display: inline-block;
  padding-right: 20px;
}

.login_users_container {
  padding-bottom: 500px;
  padding-top: 50px;
  border-style: double;
}

.user_login_button {
  background-color: hsl(42, 66%, 61%);
  box-shadow: 0px 0px 18px 15px hsl(41, 19%, 67%);
}

.login_user_article {
  padding: 20px 0px 20px 0px;
}

.article_vote_button {
  border-radius: 40%;
  border-width: 3px;
  padding: 5px 10px 0px 10px;
}

.articlecard_votes {
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.user_login_status_bar {
    margin-top: 0;
    padding-bottom: 10px;
    background-color: #EC5800;
    text-align: right;
    padding-right: 50px;
}

.user_login_status_bar p {
    background-color: #EC5800;
}

.user_login_status_bar button {
    color: #EC5800;
    background-color: black;
}

#user_login_display {
      background-color: #EC5800;
      margin: 0px;
}

.new_comment_submit textarea {
  height: 150px;
  width: 400px;
  display: inline-block;
}

.new_comment_submit label {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.new_comment_submit button {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

.new_comment_body_valid {
  border-width: 2px;
  border-color: green;
}

.new_comment_body_invalid {
  border-width: 2px;
  border-color: red;
}

.delete_comment_enabled {
  margin-bottom: 10px;
  border-radius: 20%;
  background-color: rgba(252, 29, 29, 0.795);
  color: white;
}

.delete_comment_disabled {
  margin-bottom: 10px;
  border-radius: 20%;
  background-color: rgba(131, 125, 125, 0.795);
  color: white;
}

.filter_sort_container {
  padding-top: 5px;
  border-style: groove;
  border-top: 0px;
  border-left: 0px; 
  border-right: 0px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#filter_sort_submit {
  margin-top: 10px;
  background-color: #e77737;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px 10px 5px 10px;
  font-style: normal;
  font-size: large;
  margin-right: 10px;
}

.filter_sort_container label {
  padding-right: 10px
}

.filter_label {
  margin-bottom: 5px;
  margin-top: 25px;
  font-style: oblique;
  }

  .error_message {
    padding: 20px 20px 20px 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  #filter_sort_reset {
  margin-top: 10px;
  background-color: #EC5800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px 10px 5px 10px;
  font-style: normal;
  font-size: large;
  margin-left: 10px;
}

.error_container {
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.filter_view_button {
  margin-top: 20px;
  border-radius: 30%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: large;
  background-color: #e77737;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
